 #alternarLogin {
        display: none;
    }
    /* .login-form-container {
        position: absolute;
        top: 60px;
        right: 40px;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 3px 15px rgba(0,0,0,0.2);
        display: none;
        width: 250px;
        z-index: 1000;
    } */
     .ContenedorLogin {
    position: fixed; /* fijo en la ventana */
    top: 50%;        /* 50% desde arriba */
    left: 50%;       /* 50% desde la izquierda */
    transform: translate(-50%, -50%); /* ajustar el centro exacto */
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    display: none;
    width: 450px;
    z-index: 1000;
    
}


    #alternarLogin:checked + .ContenedorLogin {
        display: block;
    }

    .ContenedorLogin h3 {        
        margin-top: 0;
        margin-bottom: 15px;
        color: #1a202c;
    }

    .ContenedorLogin input {
        width: 100%;
        padding: 5px;
        margin-bottom: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .ContenedorLogin button {
        width: 48%;
        padding: 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 4%;
        color: white;
        font-weight: bold;
    }

    .btnLogin {
        background: #1a202c;
    }

    .btnCancelar {
        background: #ff4d4d;
        text-align:center; 
        line-height:28px;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        margin-right: 4%;
        font-weight: bold;
    }

    .ContenedorLogin button:hover {
        opacity: 0.9;
    }