.post {
    background: white;
    padding: 15px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid gray; 
    width: 100%;
    box-sizing: border-box; 
}

.post-title {
    color: black;
}
